* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.navbar-logo {
  max-width: 100px;
}

.nav-container {
  padding: 20px 36px;
  height: 70px;
  box-shadow: 0px 2.982556px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
}

.photo-grid {
  align-self: center;
  
  max-width: 400px;
}

.paragraph {
  margin-top: -10px;
}

.image-container {
  position: relative;
}

.person-image {
  border-radius: 10px;
  width: 100%;
}

.status {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: antiquewhite;
  border-radius: 3px;
  padding: 3px;
  font-size: 0.6rem;
}

.rating {
  display: flex;
  gap: 5px;
  
}

.star {
  height: 15px;
  justify-self: center;
  align-self: center;
}

.card-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
}

.grey {
  color: grey;
}

.bold {
  font-weight: 600;
}

.cards-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  flex-wrap: nowrap;
}